*,
*::before,
*::after {
  box-sizing: border-box;
}
.Component {
  display: flex;
  border: 2px solid black;
  position: relative;
}
.Total {
  position: absolute;
  bottom: 100px;
  left: 750px;
}



